<html>
   <head>
      <title>login</title>
      <link rel="stylesheet" href="/css/global.css" />
      <link rel="stylesheet" href="/css/login.css" />
   </head>
   <body>
      <h1>Login</h1>
      <form id="login-form">
         <div class="form-group">
            <label for="employeeId">Employee Id</label>
            <input name="employeeId" type="text" placeholder="Employee Id" />
         </div>
         <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="Password" />
         </div>
         <div class="form-group">
            <button id="submit" name="submit" type="button" placeholder="password">
               Submit
            </button>
         </div>
      </form>
   </body>

   <script src="/js/global.js"></script>
   <script src="/js/login.js"></script>
</html>