<div id="nav">
   <div class="nav-logo">
      <p>Railway Traffic Light Controller</p>
   </div>
   <div class="nav-item">
      <% if( user ) { %>
         <a href="/auth/logout">Logout</a>
      <% } %>
   </div>
</div>